<footer class="footer">
    <div class="container">
        
        {% if site.footer_menu %}
        <div class="columns is-multiline">
            {% for item in site.data[site.footer_menu] %}
            <div class="column has-text-centered">
                <div>
                    <a href="{{ item.link | relative_url }}" class="link">{{ item.name }}</a>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}

        <div class="content is-medium has-text-centered">
            <p class="">&copy; {{ 'now' | date: "%Y" }} - <a href="https://www.question2answer.org/qa/user/pupi1985">pupi1985</a></p>
        </div>
    </div>
</footer>
