---
layout: default
---

<div class="columns is-multiline">

    <div class="column is-6">
        <p class="title is-3">{{ page.title }}</p>
        <p class="subtitle is-4">{{ page.subtitle }}</p>

        <div class="columns">
            <div class="column is-6 has-text-centered">
                {% if page.price > 0 %}
                <div id="smart-button-container">
                    <div style="text-align: center;">
                        <div id="paypal-button-container" style="position: relative; z-index: 1;"></div>
                    </div>
                </div>
                {% else %}
                <a href="{{ page.download_url }}" class="button is-success">Download now</a>
                {% endif %}
            </div>
            <div class="column is-6">
                <p class="title is-4 has-text-left">{% if page.price == 0 %}Free{% else %}${{ page.price }}{% endif %}</p>

                {% if page.product_code %}
                <p class="subtitle is-5 label is-small has-text-left">Product code: {{ page.product_code }}</p>
                {% endif %}
            </div>
        </div>

        {% if page.rating %}
        {% include rating.html rating=page.rating %}
        {% endif %}

        {% if page.features %}
        <p class="subtitle is-5">
            Main features
            <a href="{{ page.wiki_url }}" class="button is-small read-more">[read more]</a>
        </p>
        <div class="content">
            {% for feature in page.features %}
            <p>
                <span class="icon">
                    {% if feature.icon %}
                    <i class="fas {{ feature.icon }}"></i>
                    {% else %}
                    <i class="fas fa-circle fa-xs"></i>
                    {% endif %}
                </span>
                <span>{{ feature.label }}</span></p>
            {% endfor %}
        </div>
        {% endif %}
    </div>

    <div class="column is-6">
        <figure class="image">
            <img src="{{ page.image }}"/>
        </figure>
    </div>

    {% if page.price > 0 %}
    <div class="column is-12">
        {% include notification.html message="Plugin will be sent to the PayPal's email address used for the purchase and up to 48 hours later. If other payment means are needed, feel free to [send me](http://www.question2answer.org/qa/user/pupi1985) a message" status="is-info" %}
    </div>
    {% endif %}

    <div class="column is-12">
        <p class="title is-4">Description</p>
        <div class="content">
            {{ content }}
        </div>
    </div>

    {% if page.price > 0 %}
    <div class="column is-12">
        {% capture warning_message %}**Do not** {% if page.price > 0 %}buy or install{% else %}use{% endif %} this plugin without checking its [wiki page]({{ page.wiki_url }}) or testing it in the [demo site]({{ site.demo_site }})
        {% endcapture %}

        {% include notification.html message=warning_message status="is-info" %}
    </div>
    {% endif %}

    {% if site.data.reviews[page.product_code] %}
    <div class="column is-12">
        <p class="title is-4">Reviews</p>
        {% for review in site.data.reviews[page.product_code] %}
        {% include review.html %}
        {% endfor %}
    </div>
    {% endif %}

</div>

{% if page.price > 0 %}
{% include paypal-scripts.html description=page.title value=page.price %}
{% endif %}
